<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guina.tasklist" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconhub"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconhub"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskList" >
        <activity
            android:name=".TELAS.AlterarTarefaActivity"
            android:exported="true"
            android:theme="@style/Theme.TaskList.NoActionBar" />
        <activity
            android:name=".TELAS.HubActivity"
            android:exported="true"
            android:theme="@style/Theme.TaskList" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TELAS.MainActivity" />
        <activity
            android:name=".TELAS.CadastrarTarefaActivity"
            android:parentActivityName=".TELAS.MainActivity" />
        <activity android:name=".TELAS.SobreActivity"/>
        <activity android:name=".TELAS.FrasesActivity"/>
    </application>

</manifest>